<div class="flex flex-col items-center pt-14">
  @if (lootbox){
      <div class="aspect-square w-2/3 relative mb-20 animate-fade-in">
          <div class="absolute inset-0 animate_orbes">
            @for (card of lootbox.cards; track card.id; let i = $index) {
              <div class="absolute w-32 h-32" [ngStyle]="getPosition(i)">
                <div class="animate_orbe_{{i}}">
                  <app-orbe [show]="showOrbe[i]" [rarity]="card.card_version?.rarity"></app-orbe>
                </div>
              </div>
            }
          </div>
      </div>
      <div class="flex justify-center w-full">
          <div (click)="passCard()" class="relative w-52 scale-150 transition-opacity duration-300 cursor-pointer" [class.opacity-0]="!isLoaded">
            @for (card of lootbox.cards; track card.id; let i = $index) {
              <div class="absolute w-full transition-opacity duration-200" [style]="{zIndex: showOrbe.length - i}" [class.opacity-0]="!showOrbe[i]">
                
                <!-- Badge Nouveau (Pendant l'ouverture) -->
                @if (card.is_new && i === count) {
                  <div class="absolute -top-2 -right-2 z-50 animate-bounce">
                    <span class="badge badge-error shadow-sm font-bold border border-base-100 px-2 py-3 text-white text-[0.65rem] flex gap-1 items-center">
                      <fa-icon [icon]="faStar" class="text-warning text-[0.6rem]"></fa-icon> 
                      NOUVEAU
                    </span>
                  </div>
                }

                <app-mmii-card [cardVersion]="card.card_version"></app-mmii-card>
              </div>
            }
          </div>
      </div>
  }
</div>
