@if (lootbox) {
<div class="flex flex-col items-center pt-8">
  <div class="w-full max-w-4xl px-4 flex flex-col items-center animate-fade-in animate-duration-500">
    <h1 class="text-3xl font-bold mb-4 text-center">Ouverture terminée !</h1>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 md:gap-6 w-full max-w-5xl">
      @for (card of lootbox.cards; track card.id) {
        <div class="relative transform transition-transform hover:scale-105 duration-300 cursor-pointer">
          
          <!-- Badge Nouveau (Vue recap) -->
          @if (card.is_new) {
            <div class="absolute -top-2 -right-2 z-50 shadow-md rounded-full">
              <span class="badge badge-error shadow-sm font-bold border border-base-100 text-[0.65rem] py-2 px-2 text-white">
                NOUVEAU
              </span>
            </div>
          }

          <app-mmii-card [cardVersion]="card.card_version"></app-mmii-card>
        </div>
      }
    </div>
  </div>
</div>
}
