@if (mmiiShape){
  <div class="card mb-4">
    <div class="card-body justify-center items-center gap-4">
      <app-mmii [mmiiShapes]="mmiiShape"></app-mmii>
    </div>
  </div>
  <div class="mb-4">
    <div role="tablist" class="tabs tabs-lifted">
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'tete'" (click)="selectedPart = 'tete'"><fa-icon [icon]="fa.faHeadSide"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'cheveux'" (click)="selectedPart = 'cheveux'"><fa-icon [icon]="fa.faUserHair"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'yeux'" (click)="selectedPart = 'yeux'"><fa-icon [icon]="fa.faEye"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'bouche'" (click)="selectedPart = 'bouche'"><fa-icon [icon]="fa.faLips"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'nez'" (click)="selectedPart = 'nez'"><fa-icon [icon]="fa.faNose"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'maquillage'" (click)="selectedPart = 'maquillage'"><fa-icon [icon]="fa.faSparkles"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'pilosite'" (click)="selectedPart = 'pilosite'"><fa-icon [icon]="fa.faMustache"></fa-icon></button>
      <button role="tab" class="tab text-xl" [class.tab-active]="selectedPart == 'particularites'" (click)="selectedPart = 'particularites'"><fa-icon [icon]="fa.faGlasses"></fa-icon></button>
    </div>
    <div class="border border-base-300 border-t-0 rounded-b-md p-4 bg-base-100">
      <div class="flex flex-col gap-4">
        @if (shapeParts[selectedPart].requiresColor && mmiiShape[selectedPart]){
          <div class="flex flex-wrap justify-center gap-2">
            @for (color of shapeParts[selectedPart].availableColors; track color){
              <button
                class="w-7 h-7 rounded-md"
                [style.background-color]="color"
                (click)="updateColor(selectedPart, color)"
              ></button>
            }
          </div>
        }
        <div class="flex flex-wrap justify-center gap-2">
          @for (image of shapeParts[selectedPart].files; track image){
            <button
              class="rounded-md relative w-20 h-20 bg-base-200/20 p-2 flex items-center justify-center"
              (click)="updatePart(selectedPart, image)"
            >
              @if (shapeParts[selectedPart].availableColors){
                <div
                  class="absolute top-2 left-2 w-16 h-16 inset-0 flex"
                  [style.backgroundColor]="getCurrentColor(selectedPart)"
                  [style.webkitMaskImage]="'url(' + baseFolder + '/' + selectedPart + '/' + image + ')'"
                  [style.maskImage]="'url(' + baseFolder + '/' + selectedPart + '/' + image + ')'"
                  style="mask-size: 100% 100%; -webkit-mask-size: 100% 100%;">
                    <img class="w-16 h-16" [style.mix-blend-mode]="shapeParts[selectedPart].mixBlendMode" [src]="baseFolder + '/' + selectedPart + '/' + image">
                </div>
              } @else {
                <img class="relative w-16 h-16" [src]="baseFolder + '/' + selectedPart + '/' + image">
              }
            </button>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <button (click)="sendMmii()" class="btn btn-primary">Valider mon MMII</button>
  </div>
}


