<div class="card relative overflow-hidden w-full border-4 border-collapse shadow-sm" [ngClass]="['border-rarity-'+cardVersion?.rarity, 'shadow-rarity-'+cardVersion?.rarity]">
  <div class="absolute w-full h-full rounded-2xl shadow-inner z-10" [ngClass]="['shadow-rarity-'+cardVersion?.rarity]"></div>
  <div class="relative border-b-4 shadow-md" [ngClass]="['border-rarity-'+cardVersion?.rarity, 'shadow-rarity-'+cardVersion?.rarity]">
    @if (cardVersion?.image){
      <img class="rounded-t-2xl" [src]="assetsService.getCardTemplateUrl(cardVersion?.image)" alt="Card image">
    }@else{
      <div [style.background-image]="'url(\''+assetsService.getBgUrl(cardVersion?.card_template?.mmii?.background)+'\')'"
           class="bg-cover rounded-t-2xl aspect-square flex justify-center items-end">
        <div class="rounded-t-2xl backdrop-blur-sm w-full h-full p-4 pb-0 flex justify-center items-end">
          <app-mmii size="10rem" [mmiiShapes]="cardVersion?.card_template?.mmii?.shape"></app-mmii>
        </div>
      </div>
    }
    @if (count) {
      <div class="absolute bottom-0 right-0 px-3 py-1 rounded-tl-lg" [ngClass]="['bg-rarity-'+cardVersion?.rarity]">
        <span>{{ count }}</span>
      </div>
    }
  </div>
  <div class="card-body">
    <p class="text-xs text-center">{{cardVersion?.card_template?.name}}</p>
  </div>
</div>
