/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "csshake/dist/csshake.min.css";
@import "csshake/scss/tools.scss";

.slow-shake {
  @include do-shake('slow', 5, 5, 10, 20000ms);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  @apply bg-neutral;
}

*{
  font-family: 'poppins', serif;
}

.center-shadow {
  box-shadow: 0 0px 10px 0px oklch(var(--b1) / 1),
            inset 0 3px 10px -6px oklch(var(--b2) / 1)
}

.btm-nav{
  @apply bg-base-100/80;
}

.input-error, .text-error {
  color: #7A2424;
}

.input-flag{
  @apply absolute right-4 top-3;
  .error-flag{
    @apply text-error;
  }
}

.mll-input{
  div.text-error{
    @apply pl-4;
  }
}
